body {
    font-size: 14px;
    background: #f7f7f7;
}

p,div,span,li,tr,td,a {
    color: #333;
}

a:hover {
    color: #f55d2c;
    text-decoration: none;
}

a:hover span{
    color: #f55d2c;
    text-decoration: none;
}

.header {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.08);
    background: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.top-header-menu {
    display: flex;
    align-items: center;
}

.logo-wrapper, .search-wrapper, .location-wrapper {
    margin: 0 15px;
}

.search {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 7px;
}

.search input {
    border: 0;
    width: 320px;
    background: none;
}

.search input:focus {
    outline: none;
}

.top-header-menu-item {
    margin: 0 15px;
}

.header-wishlist { 
    margin: 0 15px;
}

.wishlist-icon-wrapper {
    background: rgba(246,151,51,0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wishlist-icon-wrapper i {
    color: #f69733;
    font-size: 22px;
}

.wishlist-counter {
    position: absolute;
    top: -5px;
    right: -3px;
    background: #f69733;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.wishlist-counter span {
    color: #fff;
    font-weight: bold;
}

.profile-menu {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    margin: 0 15px;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-around;
    width: 175px;
}

.profile-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-name span {
    font-weight: bold;
    font-size: 16px;
}

.header-bottom {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    padding: 20px;
    display: block;
}

.header-categories-wrapper {
    padding: 20px;
    border-right: 1px solid #e3e3e3;
}

.header-categories-wrapper:hover {
    background: #f55d2c;
    color: #fff;
}

.header-categories-wrapper:hover > span {
    color: #fff;
}

.header-cart-wrapper {
    margin-left: auto;
    padding: 20px;
    background: #f55d2c;
}

.header-cart-wrapper span {
    color: #fff;
    padding: 0 2px;
}

.header-cart-wrapper:hover {
    background: #E15629;
}

.card{
    width: 370px;
    height: 230px;
    background-repeat:no-repeat;
    border-radius: 10px;
    border: solid white 5px;
    margin-top: 2%;
    
}

.button{
    width: 120px;
    height: 40px;
    margin-top: 18%;
    margin-left: 42%;
}

.undercard {
    margin-top: 5%;
    width: 190px;
    height: 90px;
    background-color: white;
    opacity: 80%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
}

p {
    padding-left: 10px;
    margin-bottom: 2px;
}
.card-offers{
    
    margin-left: 70px;
    padding-top: 20px;
   
    
}
.offers{
    color:#f55d2c;
}
.undercard-offers{
    background-color: #f55d2c;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    float: left;
    padding-top: 15px;

}

.undercard-getup {

    background-color:green;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    float: left;
    margin-left: 25px;
    padding-top: 15px;
    padding-left: 20px;
    

}


.button-offers {
    width: 120px;
    height: 40px; 
    margin-left: 5%;
    border: 1px lightslategray dotted;
    background-color: black;
    float: left;
}
.button-discount{
    width: 120px;
    height: 40px;
    margin-top: 50px;
    margin-right: 50%;
    margin-left: 30%;
    border: 1px white dotted;

}

.undercard-discount {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin-left: 25px;
    padding-top: 15px;
    display: block;
    position: relative;
}
.undercard-discount::after {
    content: "";
    background: url(../img/fruit.jpg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.undercard-cashback {
    background-image: url("../img/strawberry.jpg");
    width: 93%;
    height: 180px;
    margin-top: 25%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    border:black;
    margin-left: 5%;
    opacity: 0.7;
    padding-top: 35px;
}

.button-cashback{
    opacity: 0.5;
    border: dotted white 1px;
    margin-top: 30px;
    margin-left: 40%;
}

.img1{
    margin-top: 20px;
    width: 250px;
    border-radius: 30px;
}

.img2{
    width: 150px;
    float: right;
    margin-bottom: 90%;
}

#demo{
    margin-top: 25%;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
